<header class="row sy-navbar">
  <section class="col-xs-12 col-md-8 sy-navbar__navigations">
    <ul class="sy-navbar__links">
      <li class="sy-navbar__link">
        <a (click)="scrollTo(Section.TOP)">Me</a>
      </li>
      <li class="sy-navbar__link">
        <a (click)="scrollTo(Section.EXPERIENCE)">Experience</a>
      </li>
      <li class="sy-navbar__link">
        <a (click)="scrollTo(Section.CERTIFICATION)">Certifications</a>
      </li>
      <li class="sy-navbar__link">
        <a (click)="scrollTo(Section.SKILLS)">Skills</a>
      </li>
      <li class="sy-navbar__link">
        <a (click)="scrollTo(Section.ABOUT)">About</a>
      </li>
    </ul>
  </section>
  <img src="assets/icons/chevron-up.png" class="sy-navbar__top" *ngIf="isScrolledDown" (click)="scrollTo(Section.TOP)">
</header>
