<main class="sy-main">
  <app-navbar></app-navbar>

  <!-- Main section -->
  <section id="top" class="sy-main__ellipse">
    <div class="sy-main__content">
      <h1 class="sy-main__content--header"></h1>
      <span class="sy-main__content--desc" data-aos="fade-up"
      data-aos-anchor-placement="top-center" data-aos-duration="2000">
        I'm a Web developer, <br> and I make awesome applications!
      </span>
    </div>
    <img src="assets/icons/chevron-down.png" class="sy-main__chevron animate__bounce animate__animated animate__infinite animate__slow" (click)="scrollTo(Section.EXPERIENCE)">
  </section>

  <!-- Experience -->
  <section id="experience" class="sy-main__section">
    <div class="sy-main__section--container">
      <h1 class="sy-main__content--title mb-4">Experience</h1>
      <mzd-timeline>
        <mzd-timeline-content data-aos="fade-up"
        data-aos-anchor-placement="bottom-bottom" data-aos-duration="800">
          <mzd-icon>
            <img src="assets/icons/uni.png" class="sy-main__icon">
          </mzd-icon>
          <div>
            <h4>Bachelor of Science in Electronics Engineering</h4>
            <a href="https://www.pup.edu.ph/" target="_blank">Polytechnic University of the Philippines - Manila / 2014 - 2019</a>
            <hr>
            <p>I acquired my bachelor's degree at Polytechnic University of the Philippines - Manila. From then on, I studied & learned different technologies I am interested with and I know will be helpful to start my professional career. Gotta start that fire!</p>
          </div>
        </mzd-timeline-content>

        <mzd-timeline-content data-aos="fade-up"
        data-aos-anchor-placement="bottom-bottom" data-aos-duration="800">
          <div>
            <h4>Junior Quality Assurance Engineer</h4>
            <a href="https://ffuf.de/manila" target="_blank">FFUFM Inc. / 2019</a>
            <hr>
            <p>My first job in the Software world! I worked as a Software QA and was exposed in Agile Software development cycle. I mostly handled Manual/Automated QA related tasks for Web and Mobile platform.</p>
          </div>
          <mzd-icon>
            <img src="assets/icons/briefcase.png" class="sy-main__icon">
          </mzd-icon>
        </mzd-timeline-content>

        <mzd-timeline-content data-aos="fade-up"
        data-aos-anchor-placement="bottom-bottom" data-aos-duration="800">
          <div>
            <h4>Junior Web Developer</h4>
            <a href="https://ffuf.de/manila/" target="_blank">FFUFM Inc. / 2019 - present</a>
            <hr>
            <p>As I keep on studying interesting & nerdy things, I got to experience and develop the real stuff! I developed applications mainly for Web platform and from there keeps on improving and learning latest standards in the tech industry, gotta keep that fire burning!</p>
          </div>
          <mzd-icon>
            <img src="assets/icons/briefcase.png" class="sy-main__icon">
          </mzd-icon>
        </mzd-timeline-content>

      </mzd-timeline>
    </div>
  </section>

  <!-- Certifications -->
  <section id="certifications" class="sy-main__section sy-main__cert--bg">
    <div class="sy-main__section--container">
      <h1 class="sy-main__content--title mb-4">Certifications</h1>
      <div class="row">

        <!-- FCC -->
        <div class="col-xs-12 col-md-6 sy-main__cert--container" data-aos="zoom-in-down">
          <div class="sy-main__cert--title">
            <h4>Responsive Web Design Certification</h4>
            <a href="https://www.freecodecamp.org/" target="_blank" class="sy-main__cert--link">freeCodeCamp - December 2019</a>
          </div>
          <p>Responsive Web Design Certification, developer certification, representing approximately 300 hours of coursework.</p>
          <a href="https://www.freecodecamp.org/certification/fccca438d0e-6b18-4b43-b8e5-2f167f99a91c/responsive-web-design" target="_blank" class="sy-text__size--sm sy-main__cert--link">Link to certificate</a>
          <hr class="sy-main__cert--hr sy-main__hr">
        </div>

        <!-- JS -->
        <div class="col-xs-12 col-md-6 sy-main__cert--container" data-aos="zoom-in-down">
          <div class="sy-main__cert--title">
            <h4>JavaScript Modern ES6 - 2020 - The Complete Course</h4>
            <a href="https://www.udemy.com/" target="_blank" class="sy-main__cert--link">Udemy - June 2020</a>
          </div>
          <p>This course was about JavaScript basics to advance concepts. It also tackled the general idea of Web development and how can JavaScript can greatly help in giving life to modern applications.</p>
          <a href="https://www.udemy.com/certificate/UC-baa82ef9-6ea1-4a05-913e-533a4a68f6d9/" target="_blank" class="sy-text__size--sm sy-main__cert--link">Link to certificate</a>
          <hr class="sy-main__cert--hr sy-main__hr">
        </div>

        <!-- RxJS -->
        <div class="col-xs-12 col-md-6 sy-main__cert--container" data-aos="zoom-in-down">
          <div class="sy-main__cert--title">
            <h4>RxJS 101</h4>
            <a href="https://www.udemy.com/" target="_blank" class="sy-main__cert--link">Udemy - June 2020</a>
          </div>
          <p>This course is about deep dive in Reactive Programming and the use of Observables in modern applications.</p>
          <a href="https://www.udemy.com/certificate/UC-1359dfee-61d2-4d8a-a640-7ae91048a92a/" target="_blank" class="sy-text__size--sm sy-main__cert--link">Link to certificate</a>
          <hr class="sy-main__cert--hr sy-main__hr">
        </div>

        <!-- Azure -->
        <div class="col-xs-12 col-md-6 sy-main__cert--container" data-aos="zoom-in-down">
          <div class="sy-main__cert--title">
            <h4>Microsoft Certified: Azure Fundamentals</h4>
            <a href="https://azure.microsoft.com/en-us/" target="_blank" class="sy-main__cert--link">Microsoft - December 2020</a>
          </div>
          <p>Passed Microsoft Certified: Azure Fundamentals examination issued by Microsoft which was about basic DevOps and Cloud computing</p>
          <span class="sy-text__size--sm">Certificate available upon request</span>
          <hr class="sy-main__cert--hr sy-main__hr">
        </div>
      </div>
    </div>
  </section>

  <!-- Skills -->
  <section id="skills" class="sy-main__section">
    <div class="sy-main__section--container">
      <h1 class="sy-main__content--title mb-4">Skills</h1>
      <div class="row">

        <!-- Web Development -->
        <div class="col-xs-12 col-md-6 sy-main__card--container">
          <div class="sy-main__card" data-aos="zoom-in">
            <h4 class="sy-main__card--title">Web Development</h4>
            <div class="sy-main__card--content">
              <p>Angular</p>
              <div class="progress">
                <div class="progress-bar" role="progressbar" style="width: 95%" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
              <p>JavaScript/TypeScript</p>
              <div class="progress">
                <div class="progress-bar" role="progressbar" style="width: 95%" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
              <p>RxJS</p>
              <div class="progress">
                <div class="progress-bar" role="progressbar" style="width: 90%" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
              <p>Git</p>
              <div class="progress">
                <div class="progress-bar" role="progressbar" style="width: 90%" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
              <p>Testing</p>
              <div class="progress">
                <div class="progress-bar" role="progressbar" style="width: 80%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
              <p>Object-oriented Programming</p>
              <div class="progress">
                <div class="progress-bar" role="progressbar" style="width: 85%" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>
          </div>
        </div>

        <!-- Front-end Development -->
        <div class="col-xs-12 col-md-6 sy-main__card--container">
          <div class="sy-main__card" data-aos="zoom-in">
            <h4 class="sy-main__card--title">Front-end Development</h4>
            <div class="sy-main__card--content">
              <p>HTML</p>
              <div class="progress">
                <div class="progress-bar" role="progressbar" style="width: 95%" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
              <p>CSS/SCSS</p>
              <div class="progress">
                <div class="progress-bar" role="progressbar" style="width: 80%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
              <p>Bootstrap</p>
              <div class="progress">
                <div class="progress-bar" role="progressbar" style="width: 85%" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
              <p>BEM</p>
              <div class="progress">
                <div class="progress-bar" role="progressbar" style="width: 75%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>
          </div>
        </div>

        <!-- Back-end Development -->
        <div class="col-xs-12 col-md-6 sy-main__card--container">
          <div class="sy-main__card" data-aos="zoom-in">
            <h4 class="sy-main__card--title">Back-end Development</h4>
            <div class="sy-main__card--content">
              <p>NodeJS</p>
              <div class="progress">
                <div class="progress-bar" role="progressbar" style="width: 75%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
              <p>ExpressJS</p>
              <div class="progress">
                <div class="progress-bar" role="progressbar" style="width: 70%" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
              <p>NoSQL</p>
              <div class="progress">
                <div class="progress-bar" role="progressbar" style="width: 65%" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>
          </div>
        </div>

        <!-- Software Architecture -->
        <div class="col-xs-12 col-md-6 sy-main__card--container">
          <div class="sy-main__card" data-aos="zoom-in">
            <h4 class="sy-main__card--title">Software Architecture</h4>
            <div class="sy-main__card--content">
              <p>Model-View-Container</p>
              <div class="progress">
                <div class="progress-bar" role="progressbar" style="width: 75%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
              <p>Reactive Architecture</p>
              <div class="progress">
                <div class="progress-bar" role="progressbar" style="width: 80%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
              <p>Service Oriented</p>
              <div class="progress">
                <div class="progress-bar" role="progressbar" style="width: 80%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </section>

  <!-- About -->
  <section id="about" class="sy-main__section">
    <div class="sy-main__section--container">
      <h1 class="sy-main__content--title mb-4">About</h1>
      <div class="sy-main__about--container">
        <h4>Hi my name is Shinji,</h4>
        <p>I have a degree in Electronics Engineering from Polytechnic University of the Philippines - Manila, where I got first exposed in latest technologies and trends used in the industry. It helped me mold my interests overtime and now, ended up with the fast emerging world of Softwares!</p>
        <br>
        <p>Currently, I work as a full-time Junior Web Developer at <a href="https://ffuf.de/manila" target="_blank">FFUF Manila Inc.</a>. Where I help solve problems and develop web applications for our clients. I mainly use Angular framework for front-end applications, while also applying the best coding practices and architecture which also helps me deepen and improve my knowledge in Computer Science in general.</p>
        <br>
        <p>For the most of the time, aside from watching or reading tutorials in tech, I try develop small applications just to enchance my skills in development, having the goal in mind of trying to improve and be the best in everything that I do!</p>
        <a href="assets/files/shinji-yumikura-resume-2021.pdf" download class="sy-main__resume">Download my Resume!</a>
        <hr class="sy-main__hr">
        <div class="sy-main__social">
          <img src="assets/icons/linkedin-logo.png" alt="linkedin" class="sy-main__social--icon" (click)="navigateTo(Link.LINKEDIN)">
          <img src="assets/icons/github-logo.png" alt="github" class="sy-main__social--icon" (click)="navigateTo(Link.GITHUB)">
          <img src="assets/icons/instagram-logo.png" alt="instagram" class="sy-main__social--icon" (click)="navigateTo(Link.INSTAGRAM)">
        </div>
      </div>
    </div>
  </section>

  <footer class="sy-main__footer">
    <p>© {{ currentYear }} Shinji Yumikura</p>
  </footer>
</main>