@import "~src/assets/scss/config";
@import "~src/assets/scss/theme-config";

.#{ $style-prefix }-main {
  background-color: $bg-primary;
  color: $font-primary;

  &__ellipse {
    position: relative;
    clip-path: ellipse(90% 70% at 50% 10%);
    height: 100vh;
    background: rgb(59,222,157);
    background: linear-gradient(0deg, rgba(56,228,159,1) 16%, rgba(29,198,116,1) 53%, rgba(0,175,161,1) 100%);
  }

  &__chevron {
    position: absolute;
    left: 44%;
    bottom: 22%;

    &:hover {
      cursor: pointer;
    }

    @media screen and (min-width: 576px) {
      left: 48%;
    }
  }

  &__content {
    padding: 11rem 3rem;

    &--desc {
      display: block;
      margin-top: 35px;
      font-size: 22px;
    }

    &--header {
      font-size: 2.5rem;

      @media screen and (min-width: 576px) {
        font-size: 3rem;
      }
    }

    &--title {
      text-align: center;
      font-weight: 300;
    }

    @media screen and (min-width: 576px) {
      padding: 16rem 10rem;
    }
  }

  &__section {
    min-height: 100vh;
    display: flex;
    align-items: center;

    &--container {
      height: calc(100% - 5vh);
      width: 100%;
      padding: 3rem 1rem;

      @media screen and (min-width: 576px) {
        padding: 5rem 3rem;
      }
    }
  }

  &__icon {
    width: 24px;
    position: absolute;
    left: -5px;
    top: -3px;
  }

  &__card {
    border-radius: 15px 50px 30px;
    -webkit-box-shadow: 0px 2px 5px 1px rgba(73,80,87,0.7);
    -moz-box-shadow: 0px 2px 5px 1px rgba(73,80,87,0.7);
    box-shadow: 0px 2px 5px 1px rgba(73,80,87,0.7);
    height: 100%;
    padding: 16px;

    &--container {
      min-height: 350px;
      padding: 20px;
    }

    &--title {
      text-align: center;
    }
  }

  &__cert {
    &--bg {
      background: rgb(59,222,157);
      background: linear-gradient(180deg, rgba(56,228,159,1) 16%, rgba(29,198,116,1) 53%, rgba(0,175,161,1) 100%);
    }

    &--container {
      padding: 20px;
      position: relative;
      min-height: 300px;
    }

    &--title {
      margin-bottom: 20px;
    }

    &--hr {
      border-top: 2px solid rgba(0, 0, 0, 0.2);
      position: absolute;
      bottom: -10px;
      width: 90%;
    }

    &--link {
      &:hover {
        color: $bg-primary;
      }
    }
  }

  &__about {
    &--container {
      display: flex;
      flex-direction: column;
      margin: 0 auto;
      width: 90%;

      @media screen and (min-width: 576px) {
        width: 60%;
      }
    }
  }

  &__social {
    display: flex;
    justify-content: space-evenly;
    margin-top: 60px;

    &--icon {
      width: 42px;
      transition: all 300ms ease;

      &:hover {
        cursor: pointer;
        transform: scale(1.2);
      }
    }
  }

  &__hr {
    border-top: 2px solid rgba(0, 0, 0, 0.2);
  }

  &__footer {
    min-height: 8vh;
    background-color: $font-primary;
    color: $bg-primary;
    display: flex;
    align-items: center;
    justify-content: center;
  }

}